div(class="blog_shear_area")
  .row
    .col-xl-7
      .d-flex.flex-wrap(class="blog_shear_area_left")
        h5 Post Tags:
        ul.d-flex.flex-wrap(class="blog_details_tag")
          li
            a(href="#") Cleansing
          li
            a(href="#") Make up
          li
            a(href="#") eye cream
    .col-xl-5
      .d-flex.flex-wrap(class="blog_shear_area_right")
        h5 Share:
        ul.d-flex.flex-wrap
          li
            a(href="#")
              i.fab.fa-facebook-f(aria-hidden="true")
          li
            a(href="#")
              i.fab.fa-twitter(aria-hidden="true")
          li
            a(href="#")
              i.fab.fa-linkedin-in(aria-hidden="true")
          li
            a(href="#")
              i.fab.fa-pinterest
