div(class="pagination_area")
  nav(aria-label="...")
    ul.pagination.justify-content-center(class="mt_50")
      li.page-item
        a.page-link(href="#")
          i.far.fa-arrow-left
      li.page-item
        a.page-link.active(href="#") 01
      li.page-item
        a.page-link(href="#") 02
      li.page-item
        a.page-link(href="#") 03
      li.page-item
        a.page-link(href="#")
          i.far.fa-arrow-right
