.mobile_menu_icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: var(--themeColoeOne);
  color: var(--colorWhite);
  cursor: pointer;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mobile_menu_icon:hover {
  background: var(--colorBlack);
}

.mobile_menu_area .btn-close {
  position: absolute;
  top: 13px;
  right: -30px;
  background: var(--colorRed);
  color: var(--colorWhite);
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  padding: 0;
  opacity: 1;
  z-index: 1;
  border: 1px solid var(--colorWhite);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.mobile_menu_area .offcanvas.offcanvas-start {
  width: 340px;
}

.mobile_menu_area .offcanvas-body {
  padding: 25px;
  border: 1px solid #eee;
}

.mobile_menu_area .offcanvas-body::-webkit-scrollbar {
  display: none;
}

.mobile_menu_header {
  margin-top: 20px;
  background: var(--lightBg2);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.mobile_menu_header li {
  width: 25%;
  border-right: 1px solid #ddd;
  text-align: center;
  padding: 12px 0;
}

.mobile_menu_header li:last-child {
  border-right: 0;
}

.mobile_menu_header li a {

  text-align: center;
  color: var(--colorBlack);

  position: relative;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.mobile_menu_header li a b {
  display: block;
  width: 25px;
}

.mobile_menu_header li a span {
  position: absolute;
  line-height: 14px;
  font-size: 14px;
  font-weight: 600;
  color: var(--colorBlack);
  top: -2px;
  right: -8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mobile_menu_header li a:hover {
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}

.mobile_menu_header li a:hover span {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: var(--colorPrimary);
  line-height: 20px;
  font-size: 12px;
  color: var(--colorWhite);
  top: -4px;
  right: -4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mobile_menu_search {
  position: relative;
  margin: 20px 0px;
}

.mobile_menu_search input {
  font-size: 15px;
  padding: 10px 20px;
}

.mobile_menu_search button {
  position: absolute;
  top: 50%;
  right: 7px;
  width: 40px;
  height: 40px;
  color: var(--colorPrimary);
  background: none;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mobile_menu_item_area .nav {
  border-bottom: 1px solid var(--colorWhite);
}

.mobile_menu_item_area .nav {
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.mobile_menu_item_area .nav .nav-item {
  width: 50%;
}

.mobile_menu_item_area .nav .nav-item button {
  border: 0;
  color: var(--colorBlack);
  text-transform: capitalize;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  background: var(--lightBg2);
  border-right: 1px solid var(--colorWhite);
  font-size: 15px;
  font-weight: 600;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.mobile_menu_item_area .nav .nav-item:last-child button {
  border-right: 0;
}

.mobile_menu_item_area .nav .nav-item button:hover,
.mobile_menu_item_area .nav .nav-item button.active {
  color: var(--colorWhite);
  background: var(--colorBlack);
}

.main_mobile_menu .mobile_dropdown {
  position: relative;
}

.main_mobile_menu li a {
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--paraColor);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  line-height: initial;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0;
  position: relative;
}

.main_mobile_menu li:hover>a,
.main_mobile_menu li.active>a {
  color: var(--colorBlack);
}

.main_mobile_menu .mobile_dropdown::after {
  position: absolute;
  content: "";
  background: url(../images/plus_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 17px;
  right: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.main_mobile_menu .active::after {
  background: url(../images/minus_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  bottom: 80px;
  height: 14px;
}

.main_mobile_menu li .inner_menu {
  border-top: 0;
  padding-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
}

.main_mobile_menu li.active .inner_menu {
  border-bottom: 1px solid #ddd;
}

.main_mobile_menu li ul li a {
  padding: 0;
  margin-top: 15px;
  font-weight: 400;
  border: 0;
}

.main_mobile_menu li ul li a:hover {
  color: var(--colorPrimary);
  padding-left: 5px;
}

.main_mobile_menu li ul li:last-child {
  padding-bottom: 15px;
}

.mobile_currency {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.mobile_currency>li {
  width: 49%;
}

.mobile_currency .nice-select {
  width: 100%;
}

.mobile_currency .current {
  font-size: 13px;
  font-weight: 500;
}

.mobile_currency .nice-select .option {
  font-size: 13px;
  font-weight: 400;
}

.mobile_currency .nice-select {
  padding-left: 15px;
  padding-right: 25px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.mobile_menu_area .nice-select .list {
  border-radius: 6px;
}