.img_upload {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
}

.img_upload .cam,
.img_upload .vid {
	width: 70px;
	height: 70px;
	border: 1px dashed #ddd;
	position: relative;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
	border-radius: 6px;
}

.img_upload .cam:hover,
.img_upload .vid:hover {
	background: #d9edf7;
}

.img_upload .cam span,
.img_upload .vid span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-size: 25px;
}

.apnd-img {
	float: left;
	margin-right: 10px;
	width: 70px !important;
	height: 70px !important;
	position: relative;
	text-align: center;
	border: 1px solid #ddd;
	overflow: hidden;
	border-radius: 6px;
}

.apnd-img img {
	border-radius: 0 !important;
}

.apnd-img img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.apnd-img i {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 18px;
	height: 18px;
	background: #7f7f7f;
	font-size: 9px;
	color: #fff;
	line-height: 18px;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all linear .3s;
	-webkit-transition: all linear .3s ease;
	-moz-transition: all linear .3s ease;
	-ms-transition: all linear .3s ease;
	-o-transition: all linear .3s ease;
}

.apnd-img i:hover {
	background: #d33;
}