extends ../layouts/default.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title Upload file
        // end col
      // end row
    // end card-header
    .card-body.pt-0
      div(id="uppy-upload")
    // end card-body
