extends ../layouts/default.pug
include ../mixins/checkbox.pug

block main
  .card
    .card-header
      .row.align-items-center
        .col
          h4.card-title #{pageTitle}
    .card-body.pt-0
      form(id="roleCreateForm")
        .row
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="name") Tên nhóm quyền *
              input.form-control(id="name" type="text" name="name")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="description") Mô tả ngắn
              input.form-control(id="description" type="text" name="description")
          .col-md-6.col-lg-6
            .mb-3
              label.form-label Phân quyền
              div(class="checkbox-list" checkbox-list="permissions")
                +checkbox-list(permissionList)
          .col-md-6.col-lg-6
            .mb-3
              label.form-label(for="status") Trạng thái
              select.form-select(id="status" name="status")
                option(value="active") Hoạt động
                option(value="inactive") Tạm dừng
        button.btn.btn-primary(type="submit") Tạo mới
        a.btn.btn-danger.ms-1(href=`/${pathAdmin}/role/list`) Hủy
