.just-validate-error-label {
  width: 100%;
}

.preview-file {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.preview-file img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
}
