.just-validate-error-label {
  width: 100%;
}

.preview-file {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 5px;
}

.preview-file img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
}

/* checkbox-list */
.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 6.4px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox-item input {
  width: 15px;
  height: 15px;
}

.checkbox-item label {
  font-size: 13px;
  cursor: pointer;
}
/* End checkbox-list */

/* form-multi-file */
.form-multi-file .inner-list-image {
  display: flex;
  flex-wrap: wrap;
}

.form-multi-file .inner-list-image .inner-image {
  width: 150px;
  height: 150px;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #ddd;
  position: relative;
  cursor: move;
}

.form-multi-file .inner-list-image .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
}

.form-multi-file .inner-list-image .inner-image .inner-remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
/* End form-multi-file */

.checkbox-all,
.checkbox-input {
  width: 16px;
  height: 16px;
}
