footer.footer.text-center.text-sm-start.d-print-none
  .container-xxl
    .row
      .col-12
        .card.mb-0.rounded-bottom-0
          .card-body
            p.text-muted.mb-0
              | ©
              script.
                document.write(new Date().getFullYear())
              | Rizz
              span.text-muted.d-none.d-sm-inline-block.float-end
                | Crafted with
                i.iconoir-heart.text-danger
                | by Mannatthemes